<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quod
  dignissimos placeat quidem, ducimus quisquam fugit dolorum tenetur nesciunt
  rerum. Repudiandae dolores odit dicta excepturi molestias totam commodi
  accusamus vero.
</p>

<%- include("footer") -%>
